---
AWS:
  ACCESS_KEY: XXXXX
  SECRET_KEY: XXXXX
  REGION: XXXXX

BACKUP_LIST:
  - SERVICE_PREFIX: Test-Plone
    AUTO_SCALING_GROUP_NAME: Test-Plone
  - SERVICE_PREFIX: BPM
    AUTO_SCALING_GROUP_NAME: BPM

RESERVED:
  AMI_COUNT: 2
  LAUNCH_CONFIG_COUNT: 2
